<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="./style.css">
</head>

<body>

    <h2>Select a file to upload</h2>

    {% if filename %}
    <div>
        <img src="{{ url_for('static', filename='/Images/'+filename) }}">
    </div>
    {% endif %}


    <form method="post" action="/home" enctype="multipart/form-data" id="file-upload-form" class="uploader">

        <input id="file-upload" type="file" name="file" autocomplete="off" required>
        <input type="submit" value="Submit">
        
    </form>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="./script.js"></script>


</body>

</html>